body {
    /*não coloocamos nada antes, pois é o corpo*/
    background-color: darkgray;
}

#menu {
    /*usamos hashtag, pois é um id*/
    width: 100%;
    height: 60px;
    background-color: grey;
}

.linkMenu {
    /*usamos ponto final antes, pois é uma class*/
    color: aliceblue;
    font-size: 2em;
    margin-left: 20px;
    margin-right: 20px;
}

#menu img {
    height: 55px;
    margin-left: 30px;
}

.parte1 {
    width: 100%;
    height: 80px;
    text-align: center;
}

.parte1 img {
    height: 500px;
}

.parte1 h1 {
    color: black;
}

.parte1 p {
    font-family: 'Times New Roman', Times, serif;
    color: azure;
}
header{
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: fixed;
    z-index: 1;
    top: 0;
}